<div class="centered-block">
  <form class="pure-form pure-form-aligned">
    <fieldset>
      <div class="pure-control-group">
        <label for="email">Email address</label>
        <input id="email" type="email" name="email" [(ngModel)]="user.email" #email="ngModel" placeholder="Email address"
          required pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+$">
        <div [hidden]="email.valid || email.pristine" class="validtion-error">
          Email has invalid format
        </div>
      </div>
      <div class="pure-control-group">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" [(ngModel)]="user.password" #password="ngModel"
          placeholder="Password" required pattern=".{6,}">
        <div [hidden]="password.valid || password.pristine" class="validtion-error">
          Password must contains at least 6 characters
        </div>
      </div>
      <div class="pure-control-group">
        <label for="password">Repeat password</label>
        <input id="passwordRepeat" type="password" name="passwordRepeat" [(ngModel)]="user.repeatPassword"
          #passwordRepeat="ngModel" placeholder="Repeat password" required pattern=".{6,}">
        <div [hidden]="passwordRepeat.valid || passwordRepeat.pristine" class="validtion-error">
          Password repeat must contains at least 6 characters
        </div>
      </div>
      <!-- <div class="pure-control-group" [hidden]="password.touched || passwordRepeat.touched">
        <label class="validation-message">Passwords are not equal!</label>
      </div> -->
      <div class="form-control">
        <button [disabled]="(email.pristine || password.pristine || passwordRepeat.pristine) || email.invalid || password.invalid || passwordRepeat.invalid"
          type="submit" class="pure-button pure-button-primary" (click)="submit(user)">Register</button>
      </div>
    </fieldset>
  </form>
</div>
<router-outlet></router-outlet>