<button *ngIf="!mode" class="back-button pure-button-primary pure-button" (click)="backToGroups()">Back</button>
<div *ngIf="mode">
  <div class="container">
    <h2>Groups users:</h2>
    <div class="group group-container" *ngFor="let gu of groupsWithUsers">
      <button class="pure-button button-success" (click)="showMap(gu.users, gu.label)">Watch map</button>
      <p><b>Label:</b> {{gu.label}}</p>
      <p><b>Creator Name:</b> {{gu.creatorName}}</p>
      <hr size="2" style="color: #2d3e50;">
      <div class="container">
        <table class="container-table pure-table">
          <thead class="container-thead">
            <tr>
              <th>#</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of gu.users; let i = index;">
              <td>{{i+1}}</td>
              <td>
                <p><b>Email:</b> {{u.email}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="mode === false">
  <app-map (onFilterChange)="onFilterChange($event)" [usersLocations]="usersLocationsForMap" [users]="usersForMap" [groupName]="groupNameForMap" [type]="type">
  </app-map>
</div>