<button *ngIf="!mode" class="back-button pure-button pure-button-primary" (click)="backToGroups()">Back</button>
<div *ngIf="mode">
  <div class="container">
    <h2>Groups users:</h2>
  </div>
  <div *ngFor="let gu of groupsWithUsers">
    <div class="location-item">
      <!-- <p><b>ID:</b> {{gu.id}}</p> -->
      <button class="pure-button button-success" (click)="showMap(gu.users, gu.label)">Watch map</button>
      <p><b>Label:</b> {{gu.label}}</p>
      <!-- <p><b>Creator ID:</b> {{gu.creatorId}}</p> -->
      <p><b>Creator Name:</b> {{gu.creatorName}}</p>
      <p class="members-contaner"><b>Members:</b></p>
      <div *ngFor="let u of gu.users">
        <div class="user-item">
          <!-- <p><b>ID:</b> {{u.id}}</p> -->
          <p><b>Email:</b> {{u.email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="mode === false">
  <app-map [usersLocations]="usersLocationsForMap" [users]="usersForMap" [groupName]="groupNameForMap" [type]="type"></app-map>
</div>