<div>
  <div class="map-definiton" *ngIf="type === groupType">
    <h1 class="name-label">{{groupName}}</h1>
    <hr>
    <ul class="user" *ngFor="let user of users; let i = index">
      <li>{{user.email}} <span> <img src="{{'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|' + this.mapConfiguration.colors[i]}}"></span>
      </li>
    </ul>
  </div>
  <div class="map-definiton" [ngStyle]="{'top': '9vh'}" *ngIf="type !== groupType">
    <h1 class="name-label">Personal locations</h1>
    <hr>
    <form>
      <h3 class="name-label">Filter for the last:</h3>
      <div>
        <input type="radio" name="dateFilter" [(ngModel)]="dateFilter" (ngModelChange)="onChange()" value="day"> Day
      </div>
      <div>
        <input type="radio" name="dateFilter" [(ngModel)]="dateFilter" (ngModelChange)="onChange()" value="week"> Week
      </div>
      <div>
        <input type="radio" name="dateFilter" (ngModelChange)="onChange()" [(ngModel)]="dateFilter" value="month"> Month
      </div>
      <div>
        <input type="radio" name="dateFilter" (ngModelChange)="onChange()" [(ngModel)]="dateFilter" value="allTime"> All time
      </div>
    </form>
  </div>
  <agm-map [latitude]="this.mapConfiguration.kharkivLatitude" [longitude]="this.mapConfiguration.kharkivLongitude"
    [zoom]="this.mapConfiguration.zoom">
    <agm-marker *ngFor="let locations of usersLocations; let i = index">
      {{index+1}}
      <div *ngIf="type !== groupType">
        <agm-marker [latitude]="locations.latitude" [longitude]="locations.longitude" [iconUrl]="{
          url: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|' + 'FF0000'
        }"></agm-marker>
      </div>
      <div *ngIf="type === groupType">
        <agm-marker *ngFor="let location of locations" [latitude]="location.latitude" [longitude]="location.longitude"
          [iconUrl]="{
          url: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|' + this.mapConfiguration.colors[i]
        }"></agm-marker>
      </div>
    </agm-marker>
  </agm-map>
</div>