agm-map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    position: fixed;
    overflow: hidden;
    /* height: 100%;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(50, 50, 50, .4);
    margin: 30px 20px 18px 0; */
    /* float: right; */
}

.map-wrapper {
    position:relative;
    height: 100%;
    width: 100%;
}

.name-label {
    color: #2d3e50;
}

.map-definiton {
    position: fixed;
    overflow: auto;
    top: 8%;
    bottom: 0;
    /* float: left; */
    /* height: 85vh;  */
    width: 25vw;
    padding: 15px 30px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(50, 50, 50, .4);
}

.user {
    font-size: small;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #e6e6e6;
    border-color: #cccccc;
    border: 1px solid;
    border-radius: .5rem;
}
